.container{
    background-color: beige;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding:1.5rem;
    border:2px solid black;
    border-radius: 1rem;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

#btn{
    width:30%;
    /* margin-left:1rem; */
    background-color: royalblue;
    color:white;
    height: 2rem;
}