*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  height:100vh;
  display:flex;
  justify-self: center;
  align-items: center;
  background-color:gray ;
  color: white;
  font-size: 2rem;
}